# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.icns
*.plist
*.nib
*.entitlements
*.pbxproj
*.ico
*.rc
*.sln
*.vcxproj
*.filters
*.exp
*.tlog
*.log
*.ilk
*.pdb
*.ipch
*.db
Builds/VisualStudio2017/.vs/Vermeer Monosynth/v15/.suo
*.opendb
*.db-shm
*.db-wal
*.res
*.sqlite
